*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#logo img {
    height: 40px;
}

#navbar {
    padding: 1.2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid red;
}

#navbar img{
    max-width: 69px;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

#navbar ul li a:hover {
    color: red;
}

.container {
    min-height: 60vh;
    padding: 2em;
}

.message {
    padding: 1em;
    color: red;
    background-color: rgb(64, 64, 64);
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 1em;
    max-width: 60%;
}

.tought-form-container a {
    color: rgb(253, 10, 10);
}

.tought-form-container a:hover{
    color: aliceblue;
}

.tought-form-container h1 {
    margin: 1em 0;
    color: white;
    border-left: 4px solid green;
    padding: 0.3em;
}

.tought-form-container form {
    max-width: 30%;
    margin-top: 1.5em;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.title-container h2 {
    border-left: 4px solid green;
    padding: 10px;
}

.dashboard h3 {
    margin-bottom: 1.5em;
}

.dashboard ul {
    list-style: none;
}

.dashboard li {
    padding: 12px;
    border-bottom: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .label {
    font-weight: bold;
    color: aqua;
}

.dashboard .actions {
    display: flex;
}

.dashboard .actions .btn {
    color: rgb(100, 100, 255);
    border-color: red;
    margin: 0 0.5em;
}

.dashboard a {
    color: aqua;
}

.home-header {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.home-header h1 {
    margin-bottom: 1em;
}

.home-header span {
    color: green;
}

.home-header p,
.home-header form {
    margin-bottom: 1.2em;
}

.home-header input[type='text'] {
    width: 60%;
}

.home-header input::placeholder {
    color: white;
}

.home-header input {
    border: none;
    border-bottom: 1px solid aqua;
    padding: 0.5em;
    margin-right: 1em;
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em;
}

.order-container span{
    font-weight: bold;
    color: white;
}

.order-container form {
    margin: 0;
}

.order-container button {
    margin-bottom: 0;
    border: none;
    cursor: pointer;
    padding: 7px;
}

.order-container i {
    color: aqua;
}

.order-container a {
    color: greenyellow;
}

.order-container button:hover,
.order-container a:hover,
.order-container i:hover {
    color: red;
}

.toughts-container figure {
    border-bottom: 1px solid red;
    padding: 0.5em;
    max-width: 50%;
    margin: 0 auto 1em;
}

.toughts-container blockquote {
    font-style: italic;
    font-size: 2em;
    margin-bottom: 0.4em;
}

.toughts-container span {
    color: aqua;
}

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid green;
}

footer span {
    font-weight: bold;
    color: aqua;
}

.auth-container {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.auth-container h2 {
    margin-bottom: 1em;
    color: green;
    border-left: 4px solid red;
    padding: 0.3em;
}

.auth-container a {
    color: red;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea{
    padding: 7px;
    border-radius: 3px;
    border: 1px  solid green;
}

form input[type="submit"],
.btn {
    background-color: transparent;
    color: red;
    border: 2px solid green;
    padding: 0.5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5;
}

form input[type="submit"]:hover,
.btn:hover {
    background-color: greenyellow;
    color: black;
}